body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  margin: 0;
  padding: 20px;
}

header {
  background: #2563eb;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

section {
  background: white;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}

input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
}


---